/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #000000;
}

header {
    background-color: #000000;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

main {
    max-width: 1000px;
    margin: 2px auto;
    padding: 0 20px;
}

/* Формы */
form {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 800px;
    margin: auto;
}

h2 {
    width: 820px;
    margin: 20px auto;
}

form table {
    width: 100%;
    margin-bottom: 1px;
}

form table td, form table th {
    padding: 0.4rem 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;
}

input[type="submit"],
button[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
}

/*input[type="submit"]:hover,*/
/*button[type="submit"]:hover {*/
/*    background-color: #2980b9;*/
/*}*/

ul.errorlist {
    color: #e74c3c;
    margin: 0 0 0.5px 0;
    padding-left: 0;
    list-style: none;
}
