<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Local Library</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

    .sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

    body {
      font-family: Arial, sans-serif;
    }

    .container {
      display: flex;
    }

    .sidebar {
      width: 150px;
      padding: 20px;
    }

    .sidebar a {
      display: block;

    }

    li {
      margin: 5px 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Левая панель -->
    <div class="sidebar">
      <a href="#">Home</a>
      <a href="#">All books</a>
      <a href="#">All authors</a>
    </div>

    <!-- Основной контент -->
    <div class="content">
      <h1>Local Library Home</h1>
      <p>Welcome to <em>LocalLibrary</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network.</p>

      <h2>Dynamic content</h2>
      <p>The library has the following record counts:</p>
      <ul>
        <li><strong>Books:</strong> {{ 3 }}</li>
        <li><strong>Copies:</strong> {{ 5 }}</li>
        <li><strong>Copies available:</strong> {{ 1 }}</li>
        <li><strong>Authors:</strong> {{ 2 }}</li>
      </ul>
    </div>
  </div>
</body>
</html>